<section id="todos">
  <header>
  <h2><%= @list[:name] %></h2>
  </header>
</section>

<a href="/lists">All Lists</a>

<form action=<%= "/lists/list/#{params[:list_id].to_i}" %> method="post">
  <dl>
    <dt>
      <label for="todo_name">Enter a new todo item:</label>
    </dt>
    <dd>
      <input name="todo_name" placeholder="Todo Name" type="text" value="">
    </dd>
  </dl>
  <fieldset class="actions">
    <input type="submit" value="Save">
    <a href="/">Cancel</a>
  </fieldset>
</form>