<section id="todos">
  <header>
    <h2><%= @list[:name] %></h2>
    <ul>
      <li><a class="edit" href="/lists/list/<%= params[:id] %>/edit">Edit List</a></li>
    </ul>
  </header>
</section>

<form action="/lists/list/<%= params[:id] %>" method="post">
  <dl>
    <dt>
      <label for="todo_name">Enter a new todo item:</label>
    </dt>
    <dd>
      <input name="todo_name" placeholder="Todo Name" type="text" value="">
    </dd>
  </dl>
  <fieldset class="actions">
    <input type="submit" value="Save">
    <a href="/">Cancel</a>
  </fieldset>
</form>

<% content_for :header_links do %>
  <a href="/lists">All Lists</a>
<% end %>